<!DOCTYPE html>
<html lang="en">
@using Microsoft.AspNetCore.Http.Extensions

@{
    Random r = new Random();
    int cssGen = r.Next();

    string path = Context.Request.Path.Value;
    string integrativeLink = "/Home/Index#integrative-nutrition";

    //check if path not on home/index or /, display href for integrative nutrition based on that. 
    if (path.Length < 2) { integrativeLink = "#integrative-nutrition"; }

    //var s = path;
    //var curURL = Path.
    //var c = curURL;

}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - bbbm</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css?v=@cssGen.ToString()" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
    <header class="sticky-top">
        <nav class="navbar navbar-expand-md navbar-toggleable-md navbar-light bg-light box-shadow sticky-top pr-lg-5 pl-lg-5">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/content/site-logo.jpg" width="250" height="50" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse topNavMenu">
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link int-nut-id">Integrative Nutrition</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Contact" asp-action="Index">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            <div class="text-center footer-center">
                <a class="pr-2 footer-text" asp-controller="Home" asp-action="FAQ"> FAQ</a>
                <span class="pr-2 footer-text">|</span>
                <a class="pr-2 footer-text" asp-controller="Home" asp-action="Index"> HOME </a>
                <span class="pr-2 footer-text">|</span>
                <a class="pr-2 footer-text int-nut-id"> INTEGRATIVE NUTRITION </a>
                <span class="pr-2 footer-text">|</span>
                <a class="pr-2 footer-text" asp-controller="Home" asp-action="About"> ABOUT </a>
                <span class="pr-2 footer-text">|</span>
                <a class="pr-2 footer-text" asp-controller="Contact" asp-action="Index"> CONTACT </a>

            </div>
            <span>  &copy; 2020 - bbbmNutrition </span>
        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">

        $('.int-nut-id').click(function () {

            if ("@integrativeLink" == "#integrative-nutrition") {
                $(document).scrollTop($("#integrative-nutrition").offset().top - 100);
            }
            else {
                window.location = "@integrativeLink";
            }
        });

        $(document).ready(function () {
            if (location.hash == "#integrative-nutrition") {
                $(document).scrollTop($("#integrative-nutrition").offset().top - 100);
            }
        });

    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
