@model AboutPageModel
@using bbbm.Enums

<div class="container about-container mb-5" >
            <div class="text-center header-color">
                @Html.Raw(Model.pageSections[(int)About_Section_Enums.about_title].SectionContent)
            </div>
            <div id="about-container-id">
                <div class="divider div-transparent div-arrow-down mb-5"></div>
            </div>
            <div class="content-row-flex">

                <div class="col-flex about-image">
                    <img src="@Model.pageSections[(int)About_Section_Enums.top_left].imgsrc" />
                </div>

                <div class="text-center col-flex" style="color:#575757">

                    <div class="row-noflex">
                        @Html.Raw(Model.pageSections[(int)About_Section_Enums.top_right].SectionContent)
                    </div>
                </div>
            </div>
        <div class="content-row-flex">
            <div class="text-center col-flex" style="color:#575757">
                <div class="row-noflex">
                    @Html.Raw(Model.pageSections[(int)About_Section_Enums.bottom_left].SectionContent)
                </div>
            </div>

            <div class="text-center col-flex" style="color:#575757">
                <div class="row-noflex">
                    @Html.Raw(Model.pageSections[(int)About_Section_Enums.bottom_right_title].SectionContent)
                    <br />
                    <div class="content-row-flex">
                        <div class="col-img-flex">
                            <div class="simp-flex">
                                <a href="@Model.pageSections[(int)About_Section_Enums.img_1].SectionContent" target="_blank">
                                    <img class="abt-img" src="@Model.pageSections[(int)About_Section_Enums.img_1].imgsrc" />
                                </a>
                            </div>
                        </div>
                        <div class="col-img-flex">
                            <div class="simp-flex">
                                <a href="@Model.pageSections[(int)About_Section_Enums.img_2].SectionContent" target="_blank">
                                    <img class="abt-img" src="@Model.pageSections[(int)About_Section_Enums.img_2].imgsrc" />
                                </a>
                            </div>
                        </div>
                        <div class="col-img-flex">
                            <div class="simp-flex">
                                <a href="@Model.pageSections[(int)About_Section_Enums.img_3].SectionContent" target="_blank">
                                    <img class="abt-img" src="@Model.pageSections[(int)About_Section_Enums.img_3].imgsrc" />
                                </a>
                            </div>
                        </div>
                        <div class="col-img-flex">
                            <div class="simp-flex">
                                <a href="@Model.pageSections[(int)About_Section_Enums.img_4].SectionContent" target="_blank">
                                    <img class="abt-img" src="@Model.pageSections[(int)About_Section_Enums.img_4].imgsrc" />
                                </a>
                            </div>
                        </div>
                        <div class="col-img-flex">
                            <div class="simp-flex">
                                <a href="@Model.pageSections[(int)About_Section_Enums.img_5].SectionContent" target="_blank">
                                    <img class="abt-img" src="@Model.pageSections[(int)About_Section_Enums.img_5].imgsrc" />
                                </a>
                            </div>
                        </div>

                        <div class="col-img-flex">
                            <div class="simp-flex">
                                <a href="@Model.pageSections[(int)About_Section_Enums.img_6].SectionContent" target="_blank">
                                    <img class="abt-img" src="@Model.pageSections[(int)About_Section_Enums.img_6].imgsrc" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


