@model FAQPageModel
@using bbbm.DataModels;
@using bbbm.Entities;
@using bbbm.Enums;

<div class="faq-container">
    <div class="text-center header-color">
        @Html.Raw(Model.pageSections[(int)faq_enums.faq_title].SectionContent)
    </div>
    <div class="faq-container-header">
        <div class="divider div-transparent div-arrow-down mb-5"></div>
    </div>

    <div class="welcome-text">
        <p class="mb-3 para-text">
            <div class="container pl-0">
                <a class="btn btn-outline-primary custom-button" data-toggle="collapse" href="#NumClients" role="button" aria-expanded="false" aria-controls="NumClients">
                    <i class="fa fa-plus align-middle" aria-hidden="true"> </i>
                    @Html.Raw(Model.pageSections[(int)faq_enums.question_1].SectionContent)
                </a>
            </div>
        </p>
        <div class="collapse" id="NumClients">
            @Html.Raw(Model.pageSections[(int)faq_enums.answer_1].SectionContent)

        </div>


        <p class="mb-3 para-text">
            <div class="container pl-0">
                <a class="btn btn-outline-primary custom-button" data-toggle="collapse" href="#NumConsults" role="button" aria-expanded="false" aria-controls="NumConsults">
                    <i class="fa fa-plus align-middle" aria-hidden="true"> </i>
                    @Html.Raw(Model.pageSections[(int)faq_enums.question_2].SectionContent)
                </a>
            </div>
        </p>
        <div class="collapse" id="NumConsults">
            @Html.Raw(Model.pageSections[(int)faq_enums.answer_2].SectionContent)
           
        </div>

        <p class="mb-3 para-text">
            <div class="container pl-0">
                <a class="btn btn-outline-primary custom-button" data-toggle="collapse" href="#FoodMed" role="button" aria-expanded="false" aria-controls="FoodMed">
                    <i class="fa fa-plus align-middle" aria-hidden="true"> </i>
                    @Html.Raw(Model.pageSections[(int)faq_enums.question_3].SectionContent)
                </a>
            </div>
        </p>
        <div class="collapse" id="FoodMed">
            @Html.Raw(Model.pageSections[(int)faq_enums.answer_3].SectionContent)
        </div>
        <p class="mb-3 para-text">
            <div class="container pl-0">
                <a class="btn btn-outline-primary custom-button" data-toggle="collapse" href="#initConsult" role="button" aria-expanded="false" aria-controls="initConsult">
                    <i class="fa fa-plus align-middle" aria-hidden="true"> </i>
                    @Html.Raw(Model.pageSections[(int)faq_enums.question_4].SectionContent)
                </a>
            </div>
        </p>
        <div class="collapse" id="initConsult">
            @Html.Raw(Model.pageSections[(int)faq_enums.answer_4].SectionContent)
        </div>
        <p class="mb-3 para-text">
            <div class="container pl-0">
                <a class="btn btn-outline-primary custom-button" data-toggle="collapse" href="#phil" role="button" aria-expanded="false" aria-controls="phil">
                    <i class="fa fa-plus align-middle" aria-hidden="true"> </i>
                    @Html.Raw(Model.pageSections[(int)faq_enums.question_5].SectionContent)
                </a>
            </div>
        </p>
        <div class="collapse" id="phil">

            @Html.Raw(Model.pageSections[(int)faq_enums.answer_5].SectionContent)
        </div>
    </div>
</div>
