@model IntNutritionPageModel
@using bbbm.Enums

<div id="integrative-nutrition" class="container-row-integrative">
    <div class="integrative-container mb-5">
        <div class="nutrition-title"> @Html.Raw(Model.pageSections[(int)Nutrition_Section_Enums.nutrition_title].SectionContent) </div>
        <div id="integrative-container-id">
            <div class="divider div-transparent div-arrow-down"></div>
        </div>
        <div class="mt-5 text-center mb-5" style="margin-left: 10%; margin-right: 10%;">
            @Html.Raw(Model.pageSections[(int)Nutrition_Section_Enums.sub_header].SectionContent)
        </div>
        <div class="content-row-flex">
            <div class="col-flex">
                <img src="~/content/wholefoods.jpg" width="275" height="183" />
            </div>

            <div class="col-flex">

                <div class="row-noflex">
                    @Html.Raw(Model.pageSections[(int)Nutrition_Section_Enums.top_right].SectionContent)
                </div>
            </div>

            <div class="col-flex">
                <div class="row-noflex">
                    @Html.Raw(Model.pageSections[(int)Nutrition_Section_Enums.bottom_left].SectionContent)
                </div>

            </div>

            <div class="col-flex">
                <div class="row-noflex">
                    @Html.Raw(Model.pageSections[(int)Nutrition_Section_Enums.bottom_right].SectionContent)
                </div>

            </div>

            <div class="col-flex">
                <div class="row-noflex">
                    @Html.Raw(Model.pageSections[(int)Nutrition_Section_Enums.frequently_asked_questions].SectionContent)
                </div>

            </div>
        </div>
    </div>
</div>