@model AdminModel
@using bbbm.Enums
@using bbbm.DataModels

<div class="admin-container">
    <div id="" class="admin-sidenav box-shadow">
        <nav id="sidebar">
            <div class="sidebar-header text-center mt-3">
                <h3 class="text-white">Edit Pages</h3>
            </div>
            <div id="page-list" class="text-center">
                <ul class="list-unstyled components">
                    <li>
                        <a href="#" onclick="ShowSectionOptions('@((int)PageEnums.Home)')">Home</a>
                    </li>
                    <li>
                        <a href="#" onclick="ShowSectionOptions('@((int)PageEnums.IntegrativeNutrition)')">Integrative Nutrition</a>
                    </li>
                    <li>
                        <a href="#" onclick="ShowSectionOptions('@((int)PageEnums.About)')">About</a>
                    </li>
                    <li>
                        <a href="#" onclick="ShowSectionOptions('@((int)PageEnums.Contact)')">Contact</a>
                    </li>
                    <li>
                        <a href="#" onclick="ShowSectionOptions('@((int)PageEnums.CorporateEngagement)')">Corporate Engagement</a>
                    </li>
                    <li>
                        <a href="#" onclick="ShowSectionOptions('@((int)PageEnums.FAQ)')">FAQ</a>
                    </li>
                    <li>
                        <a href="#" onclick="ShowSectionOptions('@((int)PageEnums.Layout)')">Layout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="pt-5 text-center">
            <a class="text-white" href="/Admin/Logout"> Logout</a>
        </div>

    </div>
    <div class="admin-content">
        <h4 class="mt-5"> Editing @Model.PageName Page </h4>

        <div class="dropdown">
            <button class="btn btn-outline-primary custom-button dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Choose A Section To Modify
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                @foreach (PageSection ps in Model.pageSections)
                {
                    <a class="dropdown-item" onclick="setEditorContent('@ps.SectionID', '@ps.SectionContent', '@ps.SectionName', '@ps.isIMG', '@ps.imgsrc')">@ps.SectionName</a>
                }
            </div>
        </div>
        <br />
        <input id="sectionID" name="sectionID" type="hidden" value="1" />
        <div id="imgdiv">
          
            <img id="imgpreview" src="" /> 
            <form class="pt-3" method="post" action=@Url.Action("UploadFiles", "Admin") enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <input id="fileSectionID" name="fileSectionID" type="hidden" value="1" />
                <input id="filePageID" name="filePageID" type="hidden" value="@Model.PageID" />
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="file" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>

                <button class="btn btn-primary mt-5" type="submit">Replace Image</button>
                <a class="btn btn-warning mt-5" onclick="removeImgVal()"> Cancel </a>
            </form>
        </div>
        <div id="contentdiv">
            <textarea id="testEditor" name="testEditor"> </textarea>
            <button id="updateButton" class="btn btn-xl" onclick="saveChanges(@Model.PageID)"> Update Section </button>
        </div>
    </div>


</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#testEditor").jqte();
    });

    function saveChanges(pageID) {
        var section = document.getElementById("sectionID").value;
        var sectionID = parseInt(section);
        var EditedText = { SectionID: sectionID, PageID: pageID, SectionContent: $("#testEditor").val() }

        $.ajax({
            type: "Post",
            dataType: "json",
            url: "/Admin/saveContentToDB",
            traditional: true,
            data: JSON.stringify(EditedText),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                alert("Saved!");
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        })

    }

    function ShowSectionOptions(s) {

        window.location = '/Admin/LoadContent?PageID=' + s;
    }

    function setEditorContent(sectionID, content, sectName, isIMG, imgSrc) {
        $("#sectionID").val(sectionID);
        $("#fileSectionID").val(sectionID);
        $("#testEditor").jqteVal(content);
        $("#dropdownMenuButton").html(sectName);

      
       
        if (isIMG == "True") {
            $("#imgdiv").show();
            $("#imgpreview").attr("src", imgSrc)
            $("#contentdiv").hide();
        }
        else {
            $("#imgdiv").hide();
            $("#contentdiv").show();
        }

    }

    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });

    function removeImgVal() {
        $("#customFile").val("");
        $(".custom-file-label").html("");
    }

</script>

